<div class="row">
  <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <form #form="ngForm" (ngSubmit) = "register()">
      <section class="form-block">
        <label>Create new account</label>

        <div class="form-group row">
          <div class="col-lg-4 col-md-4">
            <label for="firstName">First name</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="text"
                   class="form-control"
                   placeholder="John"
                   id="firstName"
                   required
                   name="firstName"
                   [(ngModel)] = "registerBean.firstName"
                   #firstName = "ngModel">
            <span class="text-danger" *ngIf="firstName.touched && firstName.invalid">
            This field cannot be empty!
          </span>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-md-4 col-lg-4">
            <label for="lastName">Last name</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="text"
                   class="form-control"
                   placeholder="Doe"
                   id="lastName"
                   required
                   name="lastName"
                   [(ngModel)] = "registerBean.lastName"
                   #lastName = "ngModel">
            <span class="text-danger" *ngIf="lastName.touched && lastName.invalid">
            This field cannot be empty!
          </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 col-lg-4">
            <label for="email">Email</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="email"
                   class="form-control"
                   placeholder="john_doe@example.com"
                   id="email"
                   required
                   name="email"
                   [(ngModel)] = "registerBean.email"
                   #email = "ngModel"
                   email>
            <div class="text-danger" *ngIf="email.touched && email.invalid">
              <div *ngIf="email.errors.required">This field cannot be empty!</div>
              <div *ngIf="email.errors.email && !email.errors.required">Not a valid email!</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 col-lg-4">
            <label for="password">Password</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="password"
                   class="form-control"
                   id="password"
                   placeholder="Minimum 6 characters"
                   required
                   name="password"
                   [(ngModel)] = "registerBean.password"
                   #password = "ngModel"
                   minlength="6">
            <div class="text-danger" *ngIf="password.touched && password.invalid">
              <div *ngIf="password.errors.required">This field cannot be empty!</div>
              <div *ngIf="password.errors.minlength">Must be atleast 6 characters!</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 col-lg-4">
            <label for="confirmPassword">Confirm password</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   required name="confirmPassword"
                   [(ngModel)] = "registerBean.confirmPassword"
                   #confirmPassword = "ngModel" [equalTo]="password">
            <div class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
              <div *ngIf="confirmPassword.errors.required">This field cannot be empty!</div>
              <div *ngIf="confirmPassword.errors.equalTo">Password's don't match</div>
            </div>
          </div>


        </div>

        <!--<div class="form-group">-->
          <!--<label for="dateOfBirth">Date of birth</label>-->
          <!--<input type="date"-->
                 <!--class="form-control"-->
                 <!--id="dateOfBirth"-->
                 <!--required-->
                 <!--name="dateOfBirth"-->
                 <!--[(ngModel)] = "registerBean.dateOfBirth"-->
                 <!--#dateOfBirth="ngModel">-->
          <!--<div class="text-danger" *ngIf="dateOfBirth.touched && dateOfBirth.invalid">-->
            <!--<div *ngIf="dateOfBirth.errors.required">This field cannot be empty!</div>-->
          <!--</div>-->
          <!--<div class="text-danger" *ngIf="dateOfBirth.touched && !isValidDate() && !dateOfBirth?.errors?.required">-->
            <!--<div>Must be a proper date!</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group row">
          <div class="col-md-4 col-lg-4">
            <label>Gender</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <div class="radio-inline">
              <input type="radio" name="gender" id="male" checked value="male" [(ngModel)]="registerBean.gender">
              <label for="male">Male</label>
            </div>
            <div class="radio-inline">
              <input type="radio" name="gender" id="female" value="female" [(ngModel)]="registerBean.gender">
              <label for="female">Female</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <p class="p3">Date of birth</p>
          </div>
          <div class="col-lg-8 col-md-4">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="registerBean.dateOfBirth"
                #dateOfBirth="ngModel"
                [max]="maxDate"
                required name="dateOfBirth"
                placeholder="dd/mm/yyyy">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="text-danger" *ngIf="dateOfBirth.touched && dateOfBirth.invalid">
              <div *ngIf="dateOfBirth.errors.required">A valid date is required!</div>
              <div *ngIf="dateOfBirth.errors.max">A valid date is required!</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-lg-4">
            <label for="phone">Phone number</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="tel"
                   class="form-control"
                   id="phone"
                   required
                   name="phone"
                   [(ngModel)] = "registerBean.phone"
                   #phone="ngModel">
            <span class="text-danger" *ngIf="phone.touched && phone.invalid">
            This field cannot be empty!
          </span>
          </div>
        </div>

        <!--<div class="form-group row">-->
          <!--<div class="col-md-4 col-lg-4">-->
            <!--<label>Have you been to ashram before?</label>-->
          <!--</div>-->
          <!--<div class="col-md-8 col-lg-8">-->
            <!--<div class="radio-inline">-->
              <!--<input type="radio" name="hasBeenToAshram" value="yes" id="yes" [(ngModel)]="registerBean.hasBeenToAshram">-->
              <!--<label for="yes">Yes</label>-->
            <!--</div>-->
            <!--<div class="radio-inline">-->
              <!--<input type="radio" name="hasBeenToAshram" value="no"  id="no" [(ngModel)]="registerBean.hasBeenToAshram">-->
              <!--<label for="no">No</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div-->
          <!--*ngIf="registerBean.hasBeenToAshram && registerBean.hasBeenToAshram === 'yes'"-->
          <!--class="form-group row">-->
          <!--<div class="col-md-f col-lg-4">-->
            <!--<label for="numberOfVisits">How many times?</label>-->
          <!--</div>-->
          <!--<div class="col-md-8 col-lg-8">-->
            <!--<input-->
              <!--type="number"-->
              <!--name="numberOfVisits"-->
              <!--id="numberOfVisits"-->
              <!--[(ngModel)]="registerBean.numberOfVisits"-->
              <!--placeholder="0">-->
          <!--</div>-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Register</button>
        <span class="spinner spinner-inline" *ngIf="startLoading$ | async">
          Loading...
        </span>

        <div class="row" *ngIf="errorMessage$ | async as msg">
          <div class="col-md-12 col-lg-12 text-danger" >
            {{msg}}
          </div>
        </div>
      </section>
    </form>
  </div>
</div>



