<div class="row">
  <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <input type="text" id="search-box"> <button class="btn btn-outline">Search</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
      <clr-datagrid>
            <clr-dg-column>Photo</clr-dg-column>
          <clr-dg-column>First name</clr-dg-column>
          <clr-dg-column>Last name</clr-dg-column>
          <clr-dg-column>Date of Birth</clr-dg-column>
          <clr-dg-column>Phone number</clr-dg-column>
          <clr-dg-column>Email</clr-dg-column>
          <clr-dg-column>Actions</clr-dg-column>
          
          
              <clr-dg-row *ngFor="let user of users">
                  <clr-dg-cell><img src="assets/images/{{user.photo}}" alt="" class="img-thumbnail"></clr-dg-cell>
                  <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
                  <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
                  <clr-dg-cell>{{user.dateOfBirth}}</clr-dg-cell>
                  <clr-dg-cell>{{user.phoneNumber}}</clr-dg-cell>
                  <clr-dg-cell>{{user.email}}</clr-dg-cell>
                  <clr-dg-cell><a routerLink="/user" class="btn btn-primary"><clr-icon shape="pencil" class="is-solid"></clr-icon></a> <button class="btn btn-danger" (click)="delete()"><clr-icon shape="trash" class="is-solid"></clr-icon></button></clr-dg-cell>
              </clr-dg-row>
          
      
          <clr-dg-footer>{{users.length}} users</clr-dg-footer>
      </clr-datagrid>
  </div>  
</div>


    

<clr-modal [(clrModalOpen)]="selectedForDelete">
    <h3 class="modal-title text-danger">Warning!</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete this user?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="selectedForDelete = false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="selectedForDelete = false">Delete</button>
    </div>
</clr-modal>