<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-lg-4 offeset-md-4">
    <div class="card">
      <div class="card-block">
        <div class="card-title text-success">
          Succcess!
        </div>
        <div class="card-text">
          Your changes have been saved
        </div>
      </div>
      <div class="card-footer">
        <a routerLink="/home" class="btn btn-sm btn-link">Home</a>
        <a routerLink="/user/dashboard" class="btn btn-sm btn-link">Dashboard</a>
      </div>
    </div>
  </div>
</div>