<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-lg-4 offeset-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-title text-success">
            Success!
          </div>
          <div class="card-text">
            Changes have been saved!
          </div>
        </div>
        <div class="card-footer">
          <a routerLink="/users" class="btn btn-sm btn-link">Manage Users</a>
          <a routerLink="/user/create" class="btn btn-sm btn-link">Create User</a>
        </div>
      </div>
    </div>
  </div>